<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="60a1bd">  <td>19/07/13 11:50:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_DuplicateLead.duplicateLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC003_DuplicateLead@bf9759]">duplicateLead</td> 
  <td>main@20375825</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/07/13 11:50:42</td>   <td>-687</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC003_DuplicateLead.setData()[pri:0, instance:tests.TC003_DuplicateLead@bf9759]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20375825</td>   <td></td> </tr>
</table>
