<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a9f61">  <td>19/07/13 12:26:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC004_MergeLead@1341870]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@17414999</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/07/13 12:26:12</td>   <td>6851</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC004_MergeLead.mergeLead()[pri:0, instance:tests.TC004_MergeLead@1341870]">mergeLead</td> 
  <td>main@17414999</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>19/07/13 12:26:22</td>   <td>16906</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.closeBrowser()[pri:0, instance:tests.TC004_MergeLead@1341870]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@17414999</td>   <td></td> </tr>
</table>
